automation/858-create-a-website-screenshot-and-send-via-telegram-channel/workflow.json
{
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        650,
        300
      ],
      "parameters": {
        "file": "={{$node[\"uProc\"].json[\"message\"][\"result\"]}}",
        "chatId": "",
        "operation": "sendPhoto",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "Telegram n8n bot"
      },
      "typeVersion": 1
    },
    {
      "name": "uProc",
      "type": "n8n-nodes-base.uproc",
      "position": [
        450,
        300
      ],
      "parameters": {
        "url": "https://n8n.io",
        "tool": "getUrlScreenshot",
        "group": "image",
        "width": "1024",
        "fullpage": "yes",
        "additionalOptions": {}
      },
      "credentials": {
        "uprocApi": "uProc credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "uProc": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "uProc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}